In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('train_ctrUa4K.csv')
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [3]:
df.drop('Loan_ID', axis = 1, inplace = True)
df.shape

(614, 12)

In [4]:
df.dropna(subset = ['Credit_History'], inplace = True )

In [5]:
df.dtypes

Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [6]:
df['Gender'].value_counts().to_frame()

        Gender
Male       451
Female     101

In [7]:
df['Married'].value_counts().to_frame()

     Married
Yes      362
No       199

In [8]:
df['Dependents'].value_counts().to_frame()

    Dependents
0          316
2           95
1           90
3+          48

In [9]:
df['Education'].value_counts().to_frame()

              Education
Graduate            443
Not Graduate        121

In [10]:
df['Self_Employed'].value_counts().to_frame()

     Self_Employed
No             463
Yes             75

In [11]:

df['Property_Area'].value_counts().to_frame()

           Property_Area
Semiurban            217
Urban                182
Rural                165

In [12]:
#df.Loan_Status.replace(('Y', 'N'), (1, 0), inplace=True)
#df.Property_Area.replace(('Urban', 'Rural'), (1,0), inplace = True)
df.Self_Employed.replace(('Yes', 'No'), (1, 0), inplace=True)
df.Education.replace(('Graduate', 'Not Graduate'), (1, 0), inplace=True)
df.Married.replace(('Yes', 'No'), (1, 0), inplace=True)

In [13]:
df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,0.0,0,1,0.0,5849,0.0,NaN,360.0,1.0,Urban,Y
1,Male,1.0,1,1,0.0,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,1.0,0,1,1.0,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,1.0,0,0,0.0,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,0.0,0,1,0.0,6000,0.0,141.0,360.0,1.0,Urban,Y

In [14]:
df.dtypes

Gender                object
Married              float64
Dependents            object
Education              int64
Self_Employed        float64
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [15]:
df.corr()

,Married,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
Married,1.000000,-0.008348,0.025009,0.057535,0.122216,0.172478,-0.107796,0.004381
Education,-0.008348,1.000000,0.013504,0.142372,0.054520,0.171681,0.092262,0.081822
Self_Employed,0.025009,0.013504,1.000000,0.143969,-0.000616,0.110508,-0.038249,0.003883
ApplicantIncome,0.057535,0.142372,0.143969,1.000000,-0.126174,0.570292,-0.060362,-0.014715
CoapplicantIncome,0.122216,0.054520,-0.000616,-0.126174,1.000000,0.158757,-0.001542,-0.002056
LoanAmount,0.172478,0.171681,0.110508,0.570292,0.158757,1.000000,0.023239,-0.008433
Loan_Amount_Term,-0.107796,0.092262,-0.038249,-0.060362,-0.001542,0.023239,1.000000,0.001470
Credit_History,0.004381,0.081822,0.003883,-0.014715,-0.002056,-0.008433,0.001470,1.000000

In [16]:
y_data = df.Loan_Status
x_data = df[['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area']]

In [17]:
df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,0.0,0,1,0.0,5849,0.0,NaN,360.0,1.0,Urban,Y
1,Male,1.0,1,1,0.0,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,1.0,0,1,1.0,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,1.0,0,0,0.0,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,0.0,0,1,0.0,6000,0.0,141.0,360.0,1.0,Urban,Y

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size = 0.20, random_state = 1)

print(x_test.shape[0], y_test.shape[0])
print(x_train.shape[0], y_train.shape[0])

113 113
451 451

# Simple Logistic Regression

##### Credit_History is strongly correlated with Loan_Status. Therefore, this model has been built to predict Loan_Status on the basis of Credit_History.

In [20]:
from sklearn.linear_model import LogisticRegression

In [21]:
lr = LogisticRegression()

In [22]:
x2 = x_train['Credit_History'].fillna(x_train['Credit_History'].mode)

In [23]:
lr.fit(x_train[['Credit_History']], y_train)

C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [24]:
lr.score(x_test[['Credit_History']], y_test)

0.8230088495575221

current model has a R^2 value of 0.82300 close to 1. showing this model is good fit for the Loan_Status

In [25]:
df2 = pd.read_csv("test_lAUu6dG.csv")
df2.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [26]:
df2['Credit_History'] = df2['Credit_History'].fillna(df2['Credit_History'].mode()[0])

In [27]:
df2['Credit_History'].value_counts()

1.0    308
0.0     59
Name: Credit_History, dtype: int64

In [28]:
df2.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,367.000000,367.000000,362.000000,361.000000,367.000000
mean,4805.599455,1569.577657,136.132597,342.537396,0.839237
std,4910.685399,2334.232099,61.366652,65.156643,0.367814
min,0.000000,0.000000,28.000000,6.000000,0.000000
25%,2864.000000,0.000000,100.250000,360.000000,1.000000
50%,3786.000000,1025.000000,125.000000,360.000000,1.000000
75%,5060.000000,2430.500000,158.000000,360.000000,1.000000
max,72529.000000,24000.000000,550.000000,480.000000,1.000000

In [29]:
yhat = lr.predict(df2[['Credit_History']])
yhat[0:50]

array(['Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y'],
      dtype=object)

In [30]:
sr1 = pd.Series(yhat,name = 'Loan_Status')
sr2 = pd.Series(df2['Loan_ID'], name = 'Loan_ID')
predict = pd.concat([sr2, sr1], axis = 1)

In [31]:
predict.head()

    Loan_ID Loan_Status
0  LP001015           Y
1  LP001022           Y
2  LP001031           Y
3  LP001035           Y
4  LP001051           Y

In [32]:
predict.to_csv('predictions.csv',index= False)

In [33]:
predict.head()

    Loan_ID Loan_Status
0  LP001015           Y
1  LP001022           Y
2  LP001031           Y
3  LP001035           Y
4  LP001051           Y

In [34]:
predict.shape

(367, 2)

In [35]:
df.describe(include = 'all')

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
count,552,561.000000,549,564.000000,538.000000,564.000000,564.000000,543.000000,550.000000,564.000000,564,564
unique,2,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,2
top,Male,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Semiurban,Y
freq,451,NaN,316,NaN,NaN,NaN,NaN,NaN,NaN,NaN,217,385
mean,NaN,0.645276,NaN,0.785461,0.139405,5466.436170,1530.448440,145.088398,342.152727,0.842199,NaN,NaN
std,NaN,0.478856,NaN,0.410867,0.346691,6271.344106,2471.721359,83.309428,64.586272,0.364878,NaN,NaN
min,NaN,0.000000,NaN,0.000000,0.000000,150.000000,0.000000,9.000000,36.000000,0.000000,NaN,NaN
25%,NaN,0.000000,NaN,1.000000,0.000000,2892.750000,0.000000,100.000000,360.000000,1.000000,NaN,NaN
50%,NaN,1.000000,NaN,1.000000,0.000000,3815.000000,1105.500000,127.000000,360.000000,1.000000,NaN,NaN
75%,NaN,1.000000,NaN,1.000000,0.000000,5803.750000,2250.000000,165.500000,360.000000,1.000000,NaN,NaN
max,NaN,1.000000,NaN,1.000000,1.000000,81000.000000,33837.000000,700.000000,480.000000,1.000000,NaN,NaN

In [36]:
group_1 = df[['Gender','Dependents', 'Education', 'Loan_Status']]

In [37]:
#gp1 = group_1.groupby(['Dependents', 'Education','Gender'], as_index = False).mode()
#gp1

# Multiple Logistic Regression

In [38]:
x_train2 = df[['Gender', 'Education', 'Dependents', 'Credit_History']]

In [39]:
y_train2 = df['Loan_Status']

In [40]:
x_train2.describe(include = 'all')

       Gender   Education Dependents  Credit_History
count     552  564.000000        549      564.000000
unique      2         NaN          4             NaN
top      Male         NaN          0             NaN
freq      451         NaN        316             NaN
mean      NaN    0.785461        NaN        0.842199
std       NaN    0.410867        NaN        0.364878
min       NaN    0.000000        NaN        0.000000
25%       NaN    1.000000        NaN        1.000000
50%       NaN    1.000000        NaN        1.000000
75%       NaN    1.000000        NaN        1.000000
max       NaN    1.000000        NaN        1.000000

In [41]:
x_train2.dtypes

Gender             object
Education           int64
Dependents         object
Credit_History    float64
dtype: object

In [42]:
x_train2.Gender.replace(('Male', 'Female'), (1,2), inplace = True)
x_train2.Dependents.replace(('3+',), (4,), inplace = True)
x_train2.Dependents = x_train2.Dependents.astype(float)

C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\pandas\core\generic.py:6586: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\pandas\core\generic.py:5096: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [43]:

x_train2.dtypes

Gender            float64
Education           int64
Dependents        float64
Credit_History    float64
dtype: object

In [44]:
x_train2.describe()

           Gender   Education  Dependents  Credit_History
count  552.000000  564.000000  549.000000      564.000000
mean     1.182971    0.785461    0.859745        0.842199
std      0.386993    0.410867    1.232320        0.364878
min      1.000000    0.000000    0.000000        0.000000
25%      1.000000    1.000000    0.000000        1.000000
50%      1.000000    1.000000    0.000000        1.000000
75%      1.000000    1.000000    2.000000        1.000000
max      2.000000    1.000000    4.000000        1.000000

In [45]:
Gdr_mode = x_train2.Gender.mode()
dependents_mode = x_train2.Dependents.mode()
print(Gdr_mode, dependents_mode)

0    1.0
dtype: float64 0    0.0
dtype: float64

In [46]:
x_train2['Gender'].replace(np.nan, Gdr_mode,inplace = True)
x_train2['Dependents'].replace(np.nan, dependents_mode, inplace = True)

In [47]:
x_train2.describe()

           Gender   Education  Dependents  Credit_History
count  552.000000  564.000000  549.000000      564.000000
mean     1.182971    0.785461    0.859745        0.842199
std      0.386993    0.410867    1.232320        0.364878
min      1.000000    0.000000    0.000000        0.000000
25%      1.000000    1.000000    0.000000        1.000000
50%      1.000000    1.000000    0.000000        1.000000
75%      1.000000    1.000000    2.000000        1.000000
max      2.000000    1.000000    4.000000        1.000000

In [48]:
missing_data = x_train2.isnull()
missing_data.head(5)

   Gender  Education  Dependents  Credit_History
0   False      False       False           False
1   False      False       False           False
2   False      False       False           False
3   False      False       False           False
4   False      False       False           False

In [49]:
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

Gender
False    552
True      12
Name: Gender, dtype: int64

Education
False    564
Name: Education, dtype: int64

Dependents
False    549
True      15
Name: Dependents, dtype: int64

Credit_History
False    564
Name: Credit_History, dtype: int64

In [50]:
x_train2.Gender.unique()

array([ 1.,  2., nan])

In [51]:
x_train2.Dependents.unique()

array([ 0.,  1.,  2.,  4., nan])

In [52]:
mode = x_train2['Gender'].mode().values[0]
x_train2['Gender'].fillna(value=mode, inplace=True)

C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\pandas\core\generic.py:6130: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [53]:
mode = x_train2['Dependents'].mode().values[0]
x_train2['Dependents'].fillna(value=mode, inplace=True)

In [54]:
x_train2.describe()

           Gender   Education  Dependents  Credit_History
count  564.000000  564.000000  564.000000      564.000000
mean     1.179078    0.785461    0.836879        0.842199
std      0.383758    0.410867    1.223652        0.364878
min      1.000000    0.000000    0.000000        0.000000
25%      1.000000    1.000000    0.000000        1.000000
50%      1.000000    1.000000    0.000000        1.000000
75%      1.000000    1.000000    2.000000        1.000000
max      2.000000    1.000000    4.000000        1.000000

In [55]:

lr2 = LogisticRegression()

In [56]:
y_train2.shape

(564,)

In [57]:
x_train3, x_test3, y_train3, y_test3 = train_test_split(x_train2, y_train2, test_size = 0.15, random_state = 1)

In [58]:
lr2.fit(x_train3, y_train3)

C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [59]:
lr2.score(x_test3,y_test3)

0.8117647058823529

In [60]:
yhat2 = lr2.predict(x_test3)

In [61]:
%%capture
! pip install ipywidgets

In [62]:
from IPython.display import display
from IPython.html import widgets 
from IPython.display import display
from ipywidgets import interact, interactive, fixed, interact_manual

C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\IPython\html.py:14: ShimWarning: The `IPython.html` package has been deprecated since IPython 4.0. You should import from `notebook` instead. `IPython.html.widgets` has moved to `ipywidgets`.
  "`IPython.html.widgets` has moved to `ipywidgets`.", ShimWarning)

In [63]:
def DistributionPlot(RedFunction, BlueFunction, RedName, BlueName, Title):
    width = 12
    height = 10
    plt.figure(figsize=(width, height))

    ax1 = sns.distplot(RedFunction, hist=False, color="r", label=RedName)
    ax2 = sns.distplot(BlueFunction, hist=False, color="b", label=BlueName, ax=ax1)

    plt.title(Title)
    plt.xlabel('')
    plt.ylabel('')

    plt.show()
    plt.close()

In [64]:
def PollyPlot(xtrain, xtest, y_train, y_test, lr,poly_transform):
    width = 12
    height = 10
    plt.figure(figsize=(width, height))
    
    
    #training data 
    #testing data 
    # lr:  linear regression object 
    #poly_transform:  polynomial transformation object 
 
    xmax=max([xtrain.values.max(), xtest.values.max()])

    xmin=min([xtrain.values.min(), xtest.values.min()])

    x=np.arange(xmin, xmax, 0.1)


    plt.plot(xtrain, y_train, 'ro', label='Training Data')
    plt.plot(xtest, y_test, 'go', label='Test Data')
    plt.plot(x, lr.predict(poly_transform.fit_transform(x.reshape(-1, 1))), label='Predicted Function')
    plt.ylim([-10000, 60000])
    plt.ylabel('Price')
    plt.legend()

In [65]:
#Title = 'Distribution  Plot of  Predicted Value Using Training Data vs Training Data Distribution'
#DistributionPlot(y_train3, lr2.predict(x_train3), "Actual Values (Train)", "Predicted Values (Train)", Title)

In [66]:
lr2.score(x_train3,y_train3)

0.8162839248434238

In [67]:
xtest = df2[['Gender', 'Education', 'Dependents', 'Credit_History']]

In [68]:
xtest.describe(include = 'all')

       Gender Education Dependents  Credit_History
count     356       367        357      367.000000
unique      2         2          4             NaN
top      Male  Graduate          0             NaN
freq      286       283        200             NaN
mean      NaN       NaN        NaN        0.839237
std       NaN       NaN        NaN        0.367814
min       NaN       NaN        NaN        0.000000
25%       NaN       NaN        NaN        1.000000
50%       NaN       NaN        NaN        1.000000
75%       NaN       NaN        NaN        1.000000
max       NaN       NaN        NaN        1.000000

In [69]:
xtest.Gender.replace(('Male', 'Female'), (1,2), inplace = True)
xtest.Dependents.replace(('3+',), (4,), inplace = True)

C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\pandas\core\generic.py:6586: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [70]:
xtest.describe(include = 'all')

            Gender Education Dependents  Credit_History
count   356.000000       367        357      367.000000
unique         NaN         2          4             NaN
top            NaN  Graduate          0             NaN
freq           NaN       283        200             NaN
mean      1.196629       NaN        NaN        0.839237
std       0.398009       NaN        NaN        0.367814
min       1.000000       NaN        NaN        0.000000
25%       1.000000       NaN        NaN        1.000000
50%       1.000000       NaN        NaN        1.000000
75%       1.000000       NaN        NaN        1.000000
max       2.000000       NaN        NaN        1.000000

In [71]:
xtest.dtypes

Gender            float64
Education          object
Dependents         object
Credit_History    float64
dtype: object

In [72]:
xtest.Education.replace(('Graduate', 'Not Graduate'), (1, 0), inplace=True)

In [73]:
xtest.dtypes

Gender            float64
Education           int64
Dependents         object
Credit_History    float64
dtype: object

In [74]:
xtest.Dependents.replace(('3+',), (4,), inplace = True)

In [75]:
xtest.dtypes

Gender            float64
Education           int64
Dependents         object
Credit_History    float64
dtype: object

In [76]:
xtest['Dependents'] = xtest['Dependents'].astype(float)

C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [77]:
xtest.dtypes

Gender            float64
Education           int64
Dependents        float64
Credit_History    float64
dtype: object

In [78]:
xtest.describe()

           Gender   Education  Dependents  Credit_History
count  356.000000  367.000000  357.000000      367.000000
mean     1.196629    0.771117    0.941176        0.839237
std      0.398009    0.420687    1.317306        0.367814
min      1.000000    0.000000    0.000000        0.000000
25%      1.000000    1.000000    0.000000        1.000000
50%      1.000000    1.000000    0.000000        1.000000
75%      1.000000    1.000000    2.000000        1.000000
max      2.000000    1.000000    4.000000        1.000000

In [79]:
mode = xtest['Gender'].mode().values[0]
xtest['Gender'].fillna(value=mode, inplace=True)
mode = xtest['Dependents'].mode().values[0]
xtest['Dependents'].fillna(value=mode, inplace=True)

C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\pandas\core\generic.py:6130: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [80]:
xtest.describe()

           Gender   Education  Dependents  Credit_History
count  367.000000  367.000000  367.000000      367.000000
mean     1.190736    0.771117    0.915531        0.839237
std      0.393417    0.420687    1.308214        0.367814
min      1.000000    0.000000    0.000000        0.000000
25%      1.000000    1.000000    0.000000        1.000000
50%      1.000000    1.000000    0.000000        1.000000
75%      1.000000    1.000000    2.000000        1.000000
max      2.000000    1.000000    4.000000        1.000000

In [81]:
yhat3 = lr2.predict(xtest)

In [82]:
def csv(prediction,Name_of_file,id2 = df2['Loan_ID']):
    fisr1 = pd.Series(prediction,name = 'Loan_Status')
    sr2 = pd.Series(id2, name = 'Loan_ID')
    predict = pd.concat([sr2, sr1], axis = 1)
    predict.to_csv(Name_of_file, index = False)

# Cross - validation method used

#### when you don't have sufficient data to train the model then Cross validation is used.

In [83]:
from sklearn.model_selection import cross_val_score

In [84]:
Rcross = cross_val_score(LogisticRegression(), x_train3, y_train3, cv = 4)

C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [85]:
Rcross

array([0.82644628, 0.80833333, 0.80672269, 0.82352941])

In [86]:
# cross_val_predict is imported
from sklearn.model_selection import cross_val_predict
yhat = cross_val_predict(LogisticRegression(), x_test3, y_test3, cv = 4)

C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [87]:
df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,0.0,0,1,0.0,5849,0.0,NaN,360.0,1.0,Urban,Y
1,Male,1.0,1,1,0.0,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,1.0,0,1,1.0,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,1.0,0,0,0.0,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,0.0,0,1,0.0,6000,0.0,141.0,360.0,1.0,Urban,Y

# Polynomial Features

In [88]:
from sklearn.preprocessing import PolynomialFeatures

In [89]:
pr = PolynomialFeatures(degree = 3)

In [90]:
x_train_pr = pr.fit_transform(x_train3)
x_test_pr = pr.fit_transform(x_test3)
pr

PolynomialFeatures(degree=3, include_bias=True, interaction_only=False,
                   order='C')

In [91]:
poly = LogisticRegression()
poly.fit(x_train_pr, y_train3)

C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [92]:
yhat = poly.predict(x_test_pr)
yhat[0:5]

array(['Y', 'N', 'Y', 'N', 'Y'], dtype=object)

In [93]:
y_test3[0:5]

51     Y
267    Y
555    Y
499    N
388    Y
Name: Loan_Status, dtype: object

In [94]:
poly.score(x_train_pr, y_train3)

0.8162839248434238

In [95]:
poly.score(x_test_pr, y_test3)

0.8117647058823529

In [96]:
x_test_pr_real = pr.fit_transform(xtest)

In [97]:
yhat = poly.predict(x_test_pr_real)

In [99]:
csv(yhat, 'prediction_PolyF.csv')

# Ridge method

In [107]:
from sklearn.linear_model import Ridge

In [108]:
RigeModel=Ridge(alpha=0.1)

In [117]:
y_train3 = pd.DataFrame(y_train3)
y_train3.replace(('Y', 'N'), (1,0), inplace = True)

In [121]:
RigeModel.fit(x_train_pr, y_train3)

Ridge(alpha=0.1, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [122]:
RigeModel.score(x_train_pr, y_train3)

0.34159331276870664

In [124]:
RigeModel.score(x_test_pr, pd.DataFrame(y_test3).replace(('Y', 'N'), (1,0)))

0.2041240138880931

In [126]:
xtest = pr.fit_transform(xtest)

In [129]:
from sklearn.linear_model import RidgeClassifier

In [131]:
Rige = RidgeClassifier()

In [132]:
model = Rige.fit(x_train_pr, y_train3)

C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [134]:
Rige.score(x_train_pr, y_train3)

0.81419624217119

In [137]:
yhat = Rige.predict(xtest)

In [142]:
pd.DataFrame(yhat).replace((1,0), ('Y', 'N'), inplace = True)

In [143]:
csv(yhat, 'Ridge.csv')

In [144]:
Rige2 = RidgeClassifier(alpha = 0.1)

In [147]:
model = Rige2.fit(x_train_pr, y_train3)

C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [149]:
model.score(x_train_pr, y_train3)

0.81419624217119

Grid Search used

In [151]:
from sklearn.model_selection import GridSearchCV

In [152]:
parameters1= [{'alpha': [0.001,0.1,1, 10, 100, 1000, 10000, 100000, 100000]}]
parameters1

[{'alpha': [0.001, 0.1, 1, 10, 100, 1000, 10000, 100000, 100000]}]

In [153]:
RR=RidgeClassifier()
RR

RidgeClassifier(alpha=1.0, class_weight=None, copy_X=True, fit_intercept=True,
                max_iter=None, normalize=False, random_state=None,
                solver='auto', tol=0.001)

In [154]:
Grid1 = GridSearchCV(RR, parameters1,cv=4)

In [155]:
Grid1.fit(x_train_pr, y_train3)

C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:813: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)
C:\Users\Shashank Dwivedi\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GridSearchCV(cv=4, error_score='raise-deprecating',
             estimator=RidgeClassifier(alpha=1.0, class_weight=None,
                                       copy_X=True, fit_intercept=True,
                                       max_iter=None, normalize=False,
                                       random_state=None, solver='auto',
                                       tol=0.001),
             iid='warn', n_jobs=None,
             param_grid=[{'alpha': [0.001, 0.1, 1, 10, 100, 1000, 10000, 100000,
                                    100000]}],
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [156]:
BestRR=Grid1.best_estimator_
BestRR

RidgeClassifier(alpha=10, class_weight=None, copy_X=True, fit_intercept=True,
                max_iter=None, normalize=False, random_state=None,
                solver='auto', tol=0.001)

In [157]:
BestRR.score(x_train_pr, y_train3)

0.8162839248434238